<div class="container">
  <div class="editor">
    Add table: 
    <button nz-button class="add-table-button" (click)="addNewTable('square')">Square</button>
    <button nz-button class="add-table-button" (click)="addNewTable('rectangle')">Rectangle</button>
    <button nz-button class="add-table-button" (click)="addNewTable('circle')">Circle</button>
    <button nz-button class="add-table-button" (click)="addNewTable('oval')">Oval</button>
    <div class="restaurant-floor">
      <ko-stage [config]="configStage">
        <ko-layer>
          @for (table of tables; track $index) {
            <ko-image 
              [config]="table.config"
              (dragstart)="setSelectedTable(table)"
              (dragend)="handleDragEnd($event)"
              (click)="setSelectedTable(table)"
            ></ko-image>
          }
        </ko-layer>
      </ko-stage>
    </div>
  </div>
  <app-table-details 
    [selectedTable]="selectedTable" 
    (removeTableEvent)="removeTable($event)" 
    (deselectTableEvent)="setSelectedTable(null)"
    (updateTableEvent)="updateTable($event)"
  ></app-table-details>
</div>