<div class="container">
  <div class="editor">
    Add table: 
    <button nz-button class="add-table-button" (click)="addNewTable('square')">Square</button>
    <button nz-button class="add-table-button" (click)="addNewTable('rectangle')">Rectangle</button>
    <button nz-button class="add-table-button" (click)="addNewTable('circle')">Circle</button>
    <button nz-button class="add-table-button" (click)="addNewTable('oval')">Oval</button>
    <div class="restaurant-floor">
      @for (table of tables; track table) {
        <div
          class="table" 
          cdkDragBoundary=".restaurant-floor" 
          cdkDrag
          (cdkDragEnded)="handleDragEnd($event)"
          [cdkDragData]="table"
          [cdkDragFreeDragPosition]="table.position"
          (click)="setSelectedTable(table)"
          (cdkDragStarted)="setSelectedTable(table)"
        >
          <app-table [table]="table"></app-table>
        </div>
      }
    </div>
  </div>
  <app-table-details [selectedTable]="selectedTable" (removeTableEvent)="removeTable($event)" (deselectTableEvent)="setSelectedTable(null)"></app-table-details>
</div>